<div class="mainPart">


  <div class="container-fluid">
    <h1 class="mt-4">Welcome to the Mysterylunch</h1>

    <div class="jumbotron">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Location</th>
            <th scope="col">Attendees</th>
            <th scope="col">01.10.2019</th>
            <th scope="col">29.10.2019</th>
            <th scope="col">15.11.2019</th>
            <th scope="col">22.12.2019</th>
            <th scope="col">03.01.2020</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="loc">Paderborn</td>
            <td>90</td>
            <td>20</td>
            <td>15</td>
            <td>15</td>
            <td>30</td>
            <td>10</td>
          </tr>
          <tr>
            <td class="loc">München</td>
            <td>201</td>
            <td>51</td>
            <td>50</td>
            <td>25</td>
            <td>35</td>
            <td>40</td>
          </tr>
          <tr>
            <td class="loc">Essen</td>
            <td>4</td>
            <td>4</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
